.repos{
    width: 100%;
    .repos-info-container {
        text-align: center;
        .repos-info-sub-container {
          margin-top: 2rem;
          ul {
            @include FLEX_COLUMN_CENTER;
            gap: 3rem;
            li {
              width: 80%;
              list-style: none;
              margin: 0 1rem 0 1rem;
              .empty-div-repos,
              .second-empty-div-repos,
              .repos-info {
                width: 100%;
                height: 12rem;
                @include RADIUS_16;
              }
              .empty-div-repos {
                background-color: $DARK_BLUE;
                position: relative;
                .second-empty-div-repos {
                  background-color: $LIGHT_BLUE;
                  position: absolute;
                  top: 10px;
                  left: 10px;
                }
                .repos-info {
                  display: flex;
                  flex-direction: column;
                  gap: 1rem;
                  background-color: $LIGHTER_BLUE;
                  color: $DARK_BLUE;
                  overflow: auto;
                  padding: 1rem;
                  margin: 1rem 0 2rem 0;
                  position: absolute;
                  top: 5px;
                  left: 20px;
                  div {
                    display: flex;
                    justify-content: space-between;
                    h4 {
                      text-decoration-line: underline;
                    }
                    span {
                      font-weight: 400;
                      text-align: left;
                      width: 50%;
                    }
                  }
                }
              }
            }
          }
        }
      }
      .back-to-top-button{
        background-color: transparent;
        border: none;
        .arrow-up-icon{
          color: $DARK_BLUE;
          font-size: 3rem;
          margin-top: 2rem;
        }
      }
}